#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' | '
  a(href=url_for('http://www.beian.miit.gov.cn'), rel='nofollow')= '京ICP备20012798号-1' + ' | '
  img(src=url_for('/images/net110.png'), rel='nofollow', style='height: 0.8rem')
  a(href=url_for('http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37132202200004'), rel='nofollow')= ' 鲁公网安备 37132202200004号'
  if theme.busuanzi.enable
    script(src= theme.busuanzi.js || 'https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js', async)
  div()
    each v, i in theme.badges
      - var type = ''
      if v.type == 'pv' || v.type == 'uv'
        - type = v.type
      div(class="github-badge")
        a(href=v.url, target='_black', rel='nofollow', title=v.title)
          span(class='badge-subject') !{v.lable ? v.lable : '&nbsp;'}
          span(class='badge-value bg-'+ (v.color ? v.color : 'brightgreen'), id = type ? `busuanzi_value_site_${type}` : false)
            if v.logo
              != `<img src=${v.logo} />`
            |!{v.message || v.logo ? v.message : '&nbsp;'}
      |
      |
